In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request
import codecs

In [3]:
#Code from stackoverflow on reading html tables
response = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_film_sequels_by_box-office_improvement')
html = response.read()
soup = BeautifulSoup(html)

/Users/Spirapple/anaconda/lib/python3.5/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [54]:
#soup.find("table")
#table.find_all("tr")

In [99]:
table = soup.find("table", attrs = {"class":"sortable wikitable"})

In [100]:
headings = [th.get_text() for th in table.find("tr").find_all("th")]

In [101]:
headings

['Title',
 'Year',
 'Gross (North America)',
 'Title (original)',
 'Year (original)',
 "Original's gross (North America)",
 'Improvement']

In [56]:
#This yields a list of zip objects I don't know how to work with
datasets=[]

for row in table.find_all("tr")[2:]:
    dataset = zip(headings, (td.get_text() for td in row.find_all("td")))
    datasets.append(dataset)

In [94]:
#While this yields a list of zip objects I don't know how to work with
datasets=[]

for row in table.find_all("tr")[1:]:
    dataset = [td.get_text() for td in row.find_all("td")]
    #Note: parens make generator object, [] get you the results in a list instead
    datasets.append(dataset)

In [95]:
#hell=(next(gen) for gen in datasets)
datasets[1]

['Desperado',
 '1995',
 '$25,405,445[3]',
 'El Mariachi',
 '1992',
 '$2,040,920[3]',
 '1,170%']

In [102]:
sequelDF=pd.DataFrame(data=datasets, columns = headings)

In [103]:
sequelDF.head()

,Title,Year,Gross (North America),Title (original),Year (original),Original's gross (North America),Improvement
0,The Boondock Saints II: All Saints Day,2009,"$10,273,188[1]",The Boondock Saints,1999,"$30,471[2]","33,714%"
1,Desperado,1995,"$25,405,445[3]",El Mariachi,1992,"$2,040,920[3]","1,170%"
2,Clerks II,2006,"$24,148,068[4]",Clerks,1994,"$3,151,130[5]",677%
3,The Color of Money,1986,"$52,293,982[6]",The Hustler,1961,"$7,600,000[7]",588%
4,Terminator 2: Judgment Day,1991,"$204,843,345[8]",The Terminator,1984,"$38,371,200[8]",434%

In [139]:
#sequelDF.shape() #I don't know why this isn't working, dammit.
len(sequelDF) #70 rows, probably 7 columns?
#P.S.this does just cover the first table, as intended.

70

In [105]:
import re

In [155]:
#Function to remove the brackets and punctuation in the Gross metrics

#So there's easy ways to take out only the numbers (ex: re, tkinter),
#but I need to remove the brackets first.

#x="$219,614,612[81]"

def numerify(x):
    x2 = re.sub("[\(\[].*?[\)\]]", "", x)#stackoverflow
    x3= re.findall("[0-9]+",x2)
    return("".join(x3))

In [156]:
testing = sequelDF['Gross (North America)'].map(lambda x:numerify(x))
#This works as intended!

In [158]:
sequelDF['Original\'s gross (North America)']= sequelDF['Original\'s gross (North America)'].map(lambda x:numerify(x))
sequelDF['Gross (North America)']= sequelDF['Gross (North America)'].map(lambda x:numerify(x))

In [160]:
sequelDF.to_csv("data/Sequel.csv", sep="|", header=True, index=False)
#sequelDF.head()

In [162]:
newseq = pd.read_csv("data/Sequel.csv", sep="|")

In [163]:
newseq.head() #Excellent, everything went well.

,Title,Year,Gross (North America),Title (original),Year (original),Original's gross (North America),Improvement
0,The Boondock Saints II: All Saints Day,2009,10273188,The Boondock Saints,1999,30471,"33,714%"
1,Desperado,1995,25405445,El Mariachi,1992,2040920,"1,170%"
2,Clerks II,2006,24148068,Clerks,1994,3151130,677%
3,The Color of Money,1986,52293982,The Hustler,1961,7600000,588%
4,Terminator 2: Judgment Day,1991,204843345,The Terminator,1984,38371200,434%

In [119]:
int("$219,614,612") #Doesn't work, good to know

ValueError: invalid literal for int() with base 10: '219,614,612'

In [117]:
?int()

In [53]:
#print("{}".format(datasets[1]))
next(datasets[1])#gets each as you iterate through; awkward?

StopIteration:

In [38]:
for d in datasets:
    print(d)

TypeError: 'generator' object is not subscriptable

In [98]:
headings

['Title',
 'Year',
 'Gross (North America)',
 'Title (original)',
 'Year (original)',
 "Original's gross (North America)",
 'Improvement',
 ['The Boondock Saints II: All Saints Day',
  '2009',
  '$10,273,188[1]',
  'The Boondock Saints',
  '1999',
  '$30,471[2]',
  '33,714%'],
 ['Desperado',
  '1995',
  '$25,405,445[3]',
  'El Mariachi',
  '1992',
  '$2,040,920[3]',
  '1,170%'],
 ['Clerks II',
  '2006',
  '$24,148,068[4]',
  'Clerks',
  '1994',
  '$3,151,130[5]',
  '677%'],
 ['The Color of Money',
  '1986',
  '$52,293,982[6]',
  'The Hustler',
  '1961',
  '$7,600,000[7]',
  '588%'],
 ['Terminator 2: Judgment Day',
  '1991',
  '$204,843,345[8]',
  'The Terminator',
  '1984',
  '$38,371,200[8]',
  '434%'],
 ['Tron: Legacy',
  '2010',
  '$172,062,763[9]',
  'Tron',
  '1982',
  '$33,000,000[10]',
  '421%'],
 ['Austin Powers: The Spy Who Shagged Me',
  '1999',
  '$206,040,086[11]',
  'Austin Powers: International Man of Mystery',
  '1997',
  '$53,883,989[11]',
  '282%'],
 ['Rambo: First Blood Part II',
  '1985',
  '$150,415,432[12]',
  'First Blood',
  '1982',
  '$42,754,105[12]',
  '252%'],
 ['Pitch Perfect 2',
  '2015',
  '$183,532,105[13]',
  'Pitch Perfect',
  '2012',
  '$65,001,093[13]',
  '183%'],
 ['Mad Max 2: The Road Warrior',
  '1981',
  '$23,667,907[14]',
  'Mad Max',
  '1979',
  '$8,750,000[14]',
  '170%'],
 ['Highlander II: The Quickening',
  '1991',
  '$15,556,340[15]',
  'Highlander',
  '1986',
  '$5,900,000[15]',
  '164%'],
 ['The Dark Knight',
  '2008',
  '$533,345,358[16]',
  'Batman Begins',
  '2005',
  '$205,343,774[16]',
  '160%'],
 ['Evil Dead II',
  '1987',
  '$5,923,044[17]',
  'The Evil Dead',
  '1981',
  '$2,400,000[17]',
  '147%'],
 ['Lethal Weapon 2',
  '1989',
  '$147,253,986[18]',
  'Lethal Weapon',
  '1987',
  '$65,207,127[18]',
  '126%'],
 ['Bad Boys II',
  '2003',
  '$138,608,444[19]',
  'Bad Boys',
  '1995',
  '$65,807,024[20]',
  '110%'],
 ['Harold & Kumar Escape from Guantanamo Bay',
  '2008',
  '$38,108,728[21]',
  'Harold & Kumar Go to White Castle',
  '2004',
  '$18,250,550[21]',
  '109%'],
 ['Next Friday',
  '2000',
  '$57,328,603[22]',
  'Friday',
  '1995',
  '$27,467,564[22]',
  '108%'],
 ['The SpongeBob Movie: Sponge Out of Water',
  '2015',
  '$162,994,032[23]',
  'The SpongeBob SquarePants Movie',
  '2004',
  '$85,417,988[23]',
  '90%'],
 ['Transporter 2',
  '2005',
  '$43,095,856[24]',
  'The Transporter',
  '2002',
  '$25,296,447[24]',
  '70%'],
 ['Meet the Fockers',
  '2004',
  '$279,261,160[25]',
  'Meet the Parents',
  '2000',
  '$166,244,045[25]',
  '69%'],
 ['Shrek 2',
  '2004',
  '$441,226,247[26]',
  'Shrek',
  '2001',
  '$267,665,011[26]',
  '65%'],
 ['The Matrix Reloaded',
  '2003',
  '$281,576,461[27]',
  'The Matrix',
  '1999',
  '$171,479,930[27]',
  '64%'],
 ['Rush Hour 2',
  '2001',
  '$226,164,286[28]',
  'Rush Hour',
  '1998',
  '$141,186,864[28]',
  '60%'],
 ['Saw II',
  '2005',
  '$87,039,965[29]',
  'Saw',
  '2004',
  '$55,185,045[29]',
  '58%'],
 ['Insidious Chapter 2',
  '2013',
  '$83,586,447[30]',
  'Insidious',
  '2010',
  '$54,009,150[30]',
  '55%'],
 ['From Russia with Love',
  '1963',
  '$24,796,765[31]',
  'Dr. No',
  '1962',
  '$16,067,035[31]',
  '54%'],
 ['New Moon',
  '2009',
  '$296,623,634[32]',
  'Twilight',
  '2008',
  '$192,769,854[32]',
  '54%'],
 ['Anchorman 2: The Legend Continues',
  '2013',
  '$127,352,707[33]',
  'Anchorman: The Legend of Ron Burgundy',
  '2004',
  '$85,288,303[34]',
  '50%'],
 ['Ace Ventura: When Nature Calls',
  '1995',
  '$108,385,533[35]',
  'Ace Ventura: Pet Detective',
  '1994',
  '$72,217,396[36]',
  '50%'],
 ['Captain America: The Winter Soldier',
  '2014',
  '$259,766,572[37]',
  'Captain America: The First Avenger',
  '2011',
  '$176,654,505[37]',
  '47%'],
 ['The Chronicles of Riddick',
  '2004',
  '$57,761,012[38]',
  'Pitch Black',
  '2000',
  '$39,240,659[38]',
  '47%'],
 ['Despicable Me 2',
  '2013',
  '$368,061,265[39]',
  'Despicable Me',
  '2010',
  '$251,513,985[39]',
  '46%'],
 ['The Bourne Supremacy',
  '2004',
  '$176,241,941[40]',
  'The Bourne Identity',
  '2002',
  '$121,661,683[40]',
  '45%'],
 ['American Pie 2',
  '2001',
  '$145,103,595[41]',
  'American Pie',
  '1999',
  '$102,561,004[41]',
  '42%'],
 ['Die Hard 2',
  '1990',
  '$117,540,947[42]',
  'Die Hard',
  '1988',
  '$83,008,852[42]',
  '42%'],
 ["Pirates of the Caribbean: Dead Man's Chest",
  '2006',
  '$423,315,812[43]',
  'Pirates of the Caribbean: The Curse of the Black Pearl',
  '2003',
  '$305,413,918[43]',
  '39%'],
 ['22 Jump Street',
  '2014',
  '$191,719,337[44]',
  '21 Jump Street',
  '2012',
  '$138,447,667[45]',
  '38%'],
 ['X2: X-Men United',
  '2003',
  '$214,949,694[46]',
  'X-Men',
  '2000',
  '$157,299,717[46]',
  '37%'],
 ['For a Few Dollars More',
  '1965',
  '$15,000,000[47]',
  'A Fistful of Dollars',
  '1964',
  '$11,000,000[48]',
  '36%'],
 ["The Devil's Rejects",
  '2005',
  '$17,044,981[49]',
  'House of 1000 Corpses',
  '2003',
  '$12,634,962[50]',
  '35%'],
 ['The Mummy Returns',
  '2001',
  '$202,019,785[51]',
  'The Mummy',
  '1999',
  '$155,385,488[51]',
  '30%'],
 ['Toy Story 2',
  '1999',
  '$245,823,397[52]',
  'Toy Story',
  '1995',
  '$191,796,233[52]',
  '28%'],
 ['Hellboy II: The Golden Army',
  '2008',
  '$75,986,503[53]',
  'Hellboy',
  '2004',
  '$59,623,958[53]',
  '27%'],
 ['The Karate Kid, Part II',
  '1986',
  '$115,103,979[54]',
  'The Karate Kid',
  '1984',
  '$90,815,558[54]',
  '27%'],
 ['Hannibal',
  '2001',
  '$165,092,056[55]',
  'The Silence of the Lambs',
  '1991',
  '$130,742,922[55]',
  '26%'],
 ['Transformers: Revenge of the Fallen',
  '2009',
  '$402,111,870[56]',
  'Transformers',
  '2007',
  '$319,246,193[56]',
  '26%'],
 ["Madea's Family Reunion",
  '2006',
  '$63,257,940[57]',
  'Diary of a Mad Black Woman',
  '2005',
  '$50,633,099[57]',
  '25%'],
 ['Resident Evil: Apocalypse',
  '2004',
  '$51,201,453[58]',
  'Resident Evil',
  '2002',
  '$40,119,709[58]',
  '25%'],
 ['Wall Street: Money Never Sleeps',
  '2010',
  '$52,474,616[59]',
  'Wall Street',
  '1987',
  '$43,848,069[60]',
  '20%'],
 ['Ernest Saves Christmas',
  '1988',
  '$28,202,109[61]',
  'Ernest Goes to Camp',
  '1987',
  '$23,509,382[61]',
  '20%'],
 ['Underworld: Evolution',
  '2006',
  '$62,318,875[62]',
  'Underworld',
  '2003',
  '$51,970,690[62]',
  '20%'],
 ['Mission: Impossible 2',
  '2000',
  '$215,409,889[63]',
  'Mission: Impossible',
  '1996',
  '$180,981,886[63]',
  '19%'],
 ["A Nightmare on Elm Street Part 2: Freddy's Revenge",
  '1985',
  '$29,999,213[64]',
  'A Nightmare on Elm Street',
  '1984',
  '$25,504,513[64]',
  '18%'],
 ['Dawn of the Planet of the Apes',
  '2014',
  '$208,545,589[65]',
  'Rise of the Planet of the Apes',
  '2011',
  '$176,760,185[65]',
  '18%'],
 ['Blade II',
  '2002',
  '$82,348,319[66]',
  'Blade',
  '1998',
  '$70,087,718[66]',
  '17%'],
 ['Thor: The Dark World',
  '2013',
  '$206,362,140[67]',
  'Thor',
  '2011',
  '$181,030,624[67]',
  '14%'],
 ['A Shot in the Dark',
  '1964',
  '$12,368,234',
  'The Pink Panther[68]',
  '1963',
  '$10,878,107[68]',
  '14%'],
 ['Jackass: Number Two',
  '2006',
  '$72,778,712[69]',
  'Jackass: The Movie',
  '2002',
  '$64,255,312[69]',
  '13%'],
 ['Magnum Force',
  '1973',
  '$39,768,000[70]',
  'Dirty Harry',
  '1971',
  '$35,976,000[70]',
  '11%'],
 ['Ice Age: The Meltdown',
  '2006',
  '$195,321,662[71]',
  'Ice Age',
  '2002',
  '$176,387,405[71]',
  '11%'],
 ['The Naked Gun 2Â½: The Smell of Fear',
  '1991',
  '$86,930,411[72]',
  'The Naked Gun: From the Files of Police Squad!',
  '1988',
  '$78,756,177[72]',
  '10%'],
 ['The Lord of the Rings: The Two Towers',
  '2002',
  '$339,789,881[73]',
  'The Lord of the Rings: The Fellowship of the Ring',
  '2001',
  '$313,364,114[73]',
  '8%'],
 ['Aliens',
  '1986',
  '$85,160,248[74]',
  'Alien',
  '1979',
  '$78,944,891[74]',
  '8%'],
 ['Shanghai Knights',
  '2003',
  '$60,476,872[75]',
  'Shanghai Noon',
  '2000',
  '$56,937,502[76]',
  '6%'],
 ['Monsters University',
  '2013',
  '$268,492,764[77]',
  'Monsters, Inc.',
  '2001',
  '$255,873,250[77]',
  '5%'],
 ['Before Sunset',
  '2004',
  '$5,820,649[78]',
  'Before Sunrise',
  '1995',
  '$5,535,405[78]',
  '5%'],
 ['The Hunger Games: Catching Fire',
  '2013',
  '$424,668,047[79]',
  'The Hunger Games',
  '2012',
  '$408,010,692[79]',
  '4%'],
 ['Journey 2: The Mysterious Island',
  '2012',
  '$103,860,290[80]',
  'Journey to the Center of the Earth',
  '2008',
  '$101,704,370[80]',
  '2%'],
 ['Alvin and the Chipmunks: The Squeakquel',
  '2009',
  '$219,614,612[81]',
  'Alvin and the Chipmunks',
  '2007',
  '$217,326,974[81]',
  '1%'],
 ['Quantum of Solace',
  '2008',
  '$168,368,427[31]',
  'Casino Royale',
  '2006',
  '$167,445,960[31]',
  '1%']]

In [29]:
?zip()

In [96]:
?pd.DataFrame